* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    color: #fff !important;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
	
	
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
	
}

.btn:hover {

    background-color: #606060 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {
    
    background-color: #FFFFFF !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    
    color: #6080FA !important;
    opacity: 0.9;
	
}


.navbar a:hover {
    
    opacity: 1;
    background-color: #ffbfc4 !important;
}



/*HEADER*/

.header {
    
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg3.jpg);
    background-position: right 50% center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.header img {
    
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    
    margin-top: 20px;
}

.header .btn {
    
    border-radius: 0;
    margin: 40px 20px;
	right: 0;
}


@media(max-width:768px) {
    
    .header {
        
        padding: 30px;
        height: 750px;
    }
    
    .header img {
        
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    
    .header .btn {
        
        font-size: 10px;
        margin-left: 20px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }
}


/*ABOUT*/

.about {
    
    padding: 80px 0 80px;
    text-align: center;
}

.about h2,
.about h4 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}


.about p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


.about i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #E83C47;
    color: #fff;
}


@media(max-width:768px) {
    
    .about {
        
        padding: 30px;
    }
}


/*OFERTA*/

.oferta {
    
    padding: 50px 0 80px;
    text-align: center;
    background-color: #E83C47;
}

#white {
	color: #fff;
}


.oferta p {
    
    color: #4f4f4f;
}

.oferta p {
    
    padding-bottom: 40px;
}


p span 
{
    display: block;
}

@media(max-width:768px) {
    
    .oferta {
        
        padding: 20px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}


.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


/*KONTAKT*/

.kontakt {
    
    padding: 50px 0 80px;
    text-align: center;
	background-color: #FFFFFF;
}

.kontakt p {
    
    padding-bottom: 80px;
    color: #4c4c4c ;
}

.kontakt h2 {
    
    color: #4c4c4c ;
    margin: 20px 0 20px;
}

.kontakt .input-group {
    
    margin-bottom: 25px;
}

.kontakt .form-control {
    
    border-radius: 0 !important;
}

.kontakt span {
    
    border-radius: 0 !important;
}

.kontakt .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.kontakt .btn:hover {
    
    background-color: #a85959 !important;
    color: #fff !important;
}


/*FOOTER*/

.footer {
    
    padding: 30px;
    color: #fff;
    background-color: #6080FA;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 170px;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}
































































